.cart{
    display: flex;
   flex-direction: column;
   padding: 20px;
}
.cart-product{
    display: flex;
    gap: 15px;
    align-items: center;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 2px;
    padding: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  
}